<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{

            color:black;
            margin: 0px;
            margin-top:70px;
            text-decoration: none;
            background:white;
            background-attachment: fixed;
            background-size: cover;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            cursor: url("cursor4.png"), auto;  


        }
       
        .nevi {

            position: fixed;
            top:0px;
            background-color:black;
            height:60px;
            width: 100%;
            z-index: 1000;
            color: white;

        }
        .nevi ul{


            float: right;
        }
        .nevi ul li{
            text-align: center;
            display: inline-block;
            margin: 5px;
            margin-right: 20px;
            cursor: url("cursor5.png"), auto;  
            
            
            background-color: black;
            height: 20px;
            width: 150px;
            color: white;
        }
        .nevi ul li:hover {
            transform-origin: center;
            transition: 0.2s;
            height: 50px;
            color: white;
        }
        .nevi ul li:hover a {
            transform-origin: center;
            transition: 0.2s;
            color: orange;
            cursor: url("cursor5.png"), auto; 

         
        }
        a{
            text-decoration: none;
            font-weight: bold;
            color: white;

        }
        .logo{
            border-radius: 5%;
            height:50px;
            width: 100px;
        }
        .logotext{
            position: absolute;
            left: 105px;
            top: -2px;
            color:white;
        }
       
        button{

            height: 30px;
            width: 70px;
            background-color: crimson;
            color: white;
            font-size: large;
            border: none;
            cursor: pointer;
            border-radius: 10px;

        }
        button:hover{
            background-color: white;
            color: black;
            transition: 0.2;
            border-style: solid;
            border-radius: 10px;
            border-width: 2px;
         }
         .products {
             height: 65px;
             
             
             width: 300px;
             background-color: lightseagreen;
             margin: 20px;
             transition: 0.3s;
             float: left;

         }
         .title{
             margin-top:10px;
         }
         
         .image{
             
            transition: 0.5s;
            height: 0px;
            width: 0px;
            transform:scale(0);
            opacity: 0;
            

         }
         .products:hover {
             transition: 0.3s;
             transform:scaleY(1.07);
             cursor: url("cursor5.png"), auto; 
            
         }
         .products:hover .image{
           display: block;
           transform:scale(1);
           height: 300px;
           width: 300px;
           opacity: 1;

             
         }
         
    </style>
    
    <title>Order</title>
</head>
<body>
    <div class="nevi">
        <img class="logo" src="craftnepal.png"><div class="logotext"><h2>Hamro Dokan</h2></div>
          <ul>
               <li><a href="/">HOME</a></li>
               <li><a href="/products">Products</a></li>
               <li><a href="/cart">Cart</a></li>
               <li><a href="/orders">Orders</a></li>



               <li><a href="/addproduct">Add Pruduct</a></li>
               <li><a href="/adminproduct">Admin Products</a></li>

           </ul>
       </div>
       

       <main>
          
           
                <% if(orders.length <= 0 ){ %>
                    <img src="emptycart.png" height="300px" width="400px">
            <h1 style="font-weight: bold;">0 Orders Found!</h1>
            <h6>Feed it more!</h6>   
                <% }else { %>
                              
                                    <% orders.forEach(order=> { %>
                                       
                                        <% order.products.forEach(product => { %> 
                                        <div class="products">
                                            <center>
                                                <h2 class="title" style="color: black;"><%= product.title %> (<%= product.orderItems.quantity %>)</h2>
                                                <img class= "image" src="<%= product.imageUrl %>">
                                               
                                            
                                            </center>
                                        </div>
                                         <% }); %> 
                                        
                                      
                                    <% }); %>  
                              
                                
                               
                <% } %> 


       </main>



</body>
</html>